---
title: Verification
ref: verification
weight: 1
exported_at: '2025-06-16T15:04:07.667136+00:00'
definition: A glossary term/name refers to a word or phrase that is defined within
  a specific context, providing clarity and understanding to the reader regarding
  its meaning and usage.
tags:
- Standards
- Research
- documents
id: GL281
categories:
- ISO terminology
---

