// assets/scss/_variables_project.scss

$primary: #0c4d53;
$secondary: #127780;
$success: #0fc083;
$warning: #facc15;
$info: #5ea9bb;
$dark: #041f25;
$light: #e6f3f4;
$gray-200: #e5e7eb;

$body-bg: #e6f3f4;
$body-color: #041f25;
$link-color: $primary;

$td-enable-google-fonts: false;
$td-container-max-width: 1200px;