{{ $page := .Page -}}
{{ with .Site.Params.copyright -}}
  {{ $fromYear := "" -}}
  {{ $toYear := "" -}}
  {{ $authors := "" -}}

  {{ if reflect.IsMap . -}}
    {{ $fromYear = .from_year | default "" -}}
    {{ $toYear = .to_year | default "" -}}
    {{ $authors = .authors | default "" -}}
  {{ else -}}
    {{ $authors = . -}}
  {{ end -}}

  <span class="td-footer__copyright">&copy;
    {{ with $fromYear -}}
      {{ . }}&ndash;
    {{- end -}}
    {{ if $toYear }}
      {{ $toYear }}
    {{ else }}
      {{ now.Year }}
    {{ end }}
    <span class="td-footer__authors">
      {{- $authors
            | default (printf "%s Authors" ($.Site.Title | default "Site"))
            | $page.RenderString -}}
    </span>
  </span>

  {{ with T "footer_all_rights_reserved" -}}
    <span class="td-footer__all_rights_reserved">
      {{- . -}}
    </span>
  {{- end }}

{{ else }}

  {{ with .Site.Copyright -}}
    {{/* Process as safe HTML for legacy support */}}
    <span class="td-footer__copyright">
      {{- . | safeHTML -}}
    </span>
  {{ end }}

{{ end }}